* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: pink;
  display: flex;
  font-family: Algerian;
  justify-content: center;
  background:url("background.gif");
}

.container {
  background: #E4287C;
  margin: 50px;
  padding: 50px;
  border-radius: 25px;
}

.title {
  text-align: center;
  font-size: 45px;
  font-family:Algerian;
}

.title span {
  color: white;
  font-size: 55px;
}

.status-action {
  display: flex;
  margin-top: 25px;
  font-size: 45px;
  justify-content: space-around;
  height: 30px;
}

.status span {
  color: white;
}

.reset {
  cursor: pointer;
}

.reset:hover {
  color: white;
  font-size:55px
}

.game-grid {
  background: black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 15px;
  margin-top: 50px;
}

.game-cell {
  background: #0041C2;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

.x,
.o {
  cursor: default;
}

.x::after {
  content: '×';
  color: black;
  font-size: 200px;
  text-shadow: 4px 4px 0px #000, 
      -4px 0 0px #000,
      7px 4px 0 #fff;
}

.o::after {
  content: '○';
  color: white;
  font-size: 225px;
  text-shadow: 4px 4px 0px #000, 
      -4px 0 0px #000,
      7px 4px 0 #fff;


}

.won::after {
  color: red;
}

@media only screen and (max-width: 1024px) {
  .game-grid {
    margin-top: 25px;
    grid-gap: 10px;
  }

  .game-cell {
    height: 150px;
    width: 150px;
  }

  .x::after {
    font-size: 150px;
  }

  .o::after {
    font-size: 175px;
  }
}

@media only screen and (max-width: 540px) {
  .container {
    margin: 25px;
    padding: 25px;
  }

  .game-cell {
    height: 100px;
    width: 100px;
  }

  .x::after {
    font-size: 100px;
  }

  .o::after {
    font-size: 125px;
  }
}